<h1>Category</h1>

	<%= form_with model: category do |form|%>
	<div>
		<%= form.label :parent_category%><br>
		<%#= form.collection_select :parent_category_id, Category.order(:name),:id,:parent_category, include_blank: true %>
		<%#= form.select :parent_category_id, [ ParentCategory.order(:name)]%>
		<%=  form.select :parent_category_id, ParentCategory.all.pluck(:name,:id),{prompt:'select'}%>
		<% @category.errors.full_messages_for(:category_id).each do |message|%>
		<div> <%= message%></div>
		<% end %>
	</div>
	<div>
		<%= form.label :category_name%><br>
		<%= form.text_field :category_name %>
		<% @category.errors.full_messages_for(:category_name).each do |message|%>
		<div> <%= message%></div>
		<% end %>
	</div>

	<div>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
		<% @category.errors.full_messages_for(:description).each do |message|%>
		<div> <%= meassage%></div>
		<% end %>	
	</div>

	<div>
		<%= form.submit %>
	<%#= render "form", categories: @categories%>
	</div>
	<% end %>